/* form.css */
/* 表单样式 */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: var(--padding-base);
    position: relative;
}

label {
    margin-bottom: var(--padding-small);
    font-weight: bold;
    color: var(--text-color);
}

input, textarea {
    padding: var(--padding-base);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 100%;
    font-size: var(--font-size-base);
}

small.error-message {
    color: var(--error-color);
    font-size: var(--font-size-small);
    position: absolute;
    bottom: -20px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.error input,
.error textarea {
    border-color: var(--error-color);
}

.error small.error-message {
    visibility: visible;
    opacity: 1;
}

/* 按钮样式 */
button {
    padding: var(--padding-base);
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-base);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 添加box-shadow过渡效果 */
    box-shadow: var(--box-shadow); /* 添加阴影 */
}

button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* 添加hover时的阴影效果 */
}


/* 表单中的下拉菜单和复选框样式 */
.form-group select,
.form-group input[type="checkbox"] {
    padding: var(--padding-base);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    margin-bottom: var(--padding-base);
}

.form-group label input[type="checkbox"] {
    margin-right: var(--padding-small);
}

#task-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-small);
}

#task-tags label {
    display: flex;
    align-items: center;
    gap: var(--padding-small);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-small);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#task-tags input[type="checkbox"] {
    margin-right: var(--padding-small);
}

#task-tags label:hover {
    background: var(--border-color);
}

.form-group {
    margin-bottom: var(--padding-base);
    position: relative;
}

/* form.css */
.form-group {
    margin-bottom: var(--padding-base);
    position: relative;
}

label {
    margin-bottom: var(--padding-small);
    font-weight: bold;
    color: var(--text-color);
}

input[type="range"] {
    width: 100%;
}

small.progress-value {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


